/*
 * reset
 */

* {
  box-sizing: border-box;
}

a, button {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body, button, h1, h2, p, ul {
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

button, ol, ul {
  padding: 0;
}

/*
 * base
 */

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a:link, a:visited, a:active {
  color: rgb(48, 48, 48);
  transition: color 0.2s;
}

a:hover {
  color: rgb(182, 182, 182);
}

body {
  background: rgb(255, 255, 255);
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 7.5rem;
  letter-spacing: -0.3rem;
  margin-left: -0.4rem;
}

h2 {
  font-size: 6.25rem;
  letter-spacing: -0.125rem;
  line-height: 0.8;
}

html {
  color: rgb(48, 48, 48);
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: $golden;
  -webkit-font-smoothing: antialiased;
}

p {
  color: rgb(182, 182, 182);
}

ul {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.column {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
}
.content {
  border-bottom: 1rem;
  border-color: rgb(48, 48, 48);
}

.content__about, .content__title, .content__whom {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.content__about {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.content__picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content__title {
  margin-top: 9rem;
  margin-bottom: 1rem;
}

.content__whom {
  font-size: 0.875rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.end {
  padding-bottom: 10rem;
}

.content__whom::before {
  background-color: rgb(229, 229, 229);
  content: '';
  display: block;
  margin: 0 auto 1.25rem;
  width: 5.625rem;
  height: 2px;
}

/*
 * contact
 */

.contact {
  display: block;
  margin: 1rem 0;
}

.contact__item {
  display: inline;
}

.contact__item + .contact__item {
  padding-left: 1rem;
}

/*
 * header
 */

.header {
  height: 44rem;
}

.header__about {
  font-size: 1.125rem;
}

.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50%;
  height: auto;
}

.header__box::before {
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url('images/avatar.png');
  background-size: cover;
  content: '';
  -webkit-transform: translate(-120%, -50%);
  transform: translate(-120%, -50%);
  padding-top: 51.5625%;
  width: 51.5625%;
}

/*
 * grenal
 */

.content__picture--icons {
  background-image: url('images/gcolorado-1_icons.png');
  padding-top: 82.24043%;
}

.content__picture--homescreen {
  background-image: url('images/gcolorado-2_homescreen.png');
  background-size: 73.67187%;
  padding-top: 100%;
}

.content__picture--consumption {
  background-image: url('images/gcolorado-3_consumomaterias.png');
  padding-top: 68.63772%;
}

.content__picture--live-match {
  background-image: url('images/gcolorado-4_jogoaovivo.png');
  padding-top: 327.99401%;
}

.content__picture--socialshare {
  background-image: url('images/gcolorado-5_socialshare.png');
  padding-top: 72.22222%;
}

/*
 * clic
 */

.content__picture--clicconcept {
  background-image: url('images/clic-1_concept.png');
  padding-top: 217.99561%;
}
.content__picture--clicmenu {
  background-image: url('images/clic-2_menu.png');
  padding-top: 64.45686%;
}
.content__picture--cliclivehub {
  background-image: url('images/clic-3_livehub.png');
  padding-top: 61.67664%;
}
.content__picture--clicwebview {
  background-image: url('images/clic-4_webview.png');
  padding-top: 61.67664%;
}

/*
 * clube
 */
.content__picture--clube {
  background-image: url('images/clube_concept.png');
  padding-top: 56.05381%;
}

/*
 * easycondo
 */
.content__picture--easycondopreview {
  background-image: url('images/easycondo-1_preview.png');
  padding-top: 77.77777%;
}
.content__picture--easycondoadmin {
  background-image: url('images/easycondo-2_admin.png');
  padding-top: 67.21664%;
}


/*
 * modifiers
 */

@media (max-width: 79rem) {
  html {
    font-size: 14px;
  }

  .header__title {
    font-size: 9.375vw;
    letter-spacing: -0.05em;
  }
}

@media (max-width: 39rem) {
  html {
    font-size: 11px;
  }
  h2 {
    font-size: 9.375vw;
    text-align: center;
  }
  .header__box {
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    text-align: center;
  }

  .header__box::before {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -125%);
    transform: translate(-50%, -125%);
  }
}
